*{
  margin: 0;
  padding: 0;
}
/*@import url (https://fonts.googleapis.com/css?family=Open+Sans);*/
body{
  background-image: url(../img/back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  /*font-family: Open Sans;*/
}
.topmenu{
  background-color: #084B8A;
  height: 34px;
}
.header{
  list-style: none;
  padding-left: 610px;
  width: 385px;
  border-right: 1px solid #58D3F7;
  float: left;
}
.header li{
  display: inline-block;
  text-align: right;
  color: white;
}
.choose{
  height: 34px;
}
.choose a{
  display: inline-block;
  text-decoration: none;
  color: #58D3F7;
  height: 26px;
  padding: 8px 10px 0px 10px;
}
.choose a:hover{
  background-color: #58D3F7;
  color: white;
}
.under{
  text-decoration: underline;
  color: white;
}
.flag a{
  display: inline-block;
  text-decoration: none;
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 8px 10px 0px 30px;
  margin-left: 10px;
  color: white;
  height: 26px;
  float: left;
}
.ola{
  background-image: url(../img/ola.png);
  background-repeat: repeat-x;
  height: 26px;
  float: left;
  padding: 8px 10px 0px 10px;
  color: white;
}
.box{
  background-color: rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 525px;
  margin:100px auto;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
.cadastre{
  font-size: 21px;
  padding: 10px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
.facebook{
  margin: 30px 0px;
}
.ou{
  font-size: 11px;
  width: 277px;
  margin: 30px 86.5px;
  color: grey;
}

.text input{
  background-color: #1C1C1C;
  border: none;
  height: 35px;
  width: 260px;
  padding-left: 16px;
  margin-bottom: 13px;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(143,141,143,1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(143,141,143,1);
  box-shadow: 0px 1px 5px 0px rgba(143,141,143,1);
}
input:hover{
  background-color: #084B8A;
  -webkit-box-shadow: 0px 0px 33px 0px rgba(46,204,250,1);
  -moz-box-shadow: 0px 0px 33px 0px rgba(46,204,250,1);
  box-shadow: 0px 0px 33px 0px rgba(46,204,250,1);
}
.login{
margin-top: 20px;
}
.checkbox{
  padding-right: 43px;
}
.check{
  padding-left: 6px;
  font-size: 14px;
  color: white;
  opacity: 0.7;
  display: inline-block;
}
.submit [type='submit']{
  margin: 15px 0px;
  border: none;
  border-radius: 4%;
  color: white;
  height: 27px;
  width: 135px;
  background: #51b0dc;
    background: -moz-linear-gradient(top, #51b0dc 0%, #3382c8 72%, #2f7bc5 88%, #2e7ac4 100%);
    background: -webkit-linear-gradient(top, #51b0dc 0%, #3382c8 72%, #2f7bc5 88%, #2e7ac4 100%);
    background: linear-gradient(to bottom, #51b0dc 0%, #3382c8 72%, #2f7bc5 88%, #2e7ac4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e7ac4', GradientType=0);
}
.terms{
  font-size: 9px;
  color: white;
  opacity: 0.7;

}
